<div id="mainGroup">
  <div id="groupInfo">
    <img id="groupBanner" alt="" src={{group.group_banner}}>
    <div id="groupDescription">
      <div id="groupProfilePic">
        <img src={{group.group_profile}} alt="" id="pic">
      </div>
      <div id="groupName">
        <div id="name">{{group.name}}</div>
        <div id="memberCount">
          <div id="count">{{group.memberCount}}</div>
          <div id="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
        </div>
      </div>
      <div id="groupButton" (click)="joinOrLeaveGroup()">
<!--        <button [ngClass]="isMember == true ? 'joinButton' : 'leaveButton'">{{isMember}}</button>-->
        <button class="{{!isMember ? 'joinButton' : 'leaveButton'}}">{{isMember? 'Joined' : 'Join'}}</button>
      </div>
    </div>
  </div>
  <div *ngIf="this.isMember" class="groupFeed">
    <div class="post" *ngFor="let post of postList">
      <app-postfeed [post]="post" (postChange)="deletePost($event)"></app-postfeed>
    </div>
  </div>
  <ng-template class="groupFeed"></ng-template>
</div>
