<div id="cratePost">
  <div id="postBox">
    <div id="title">
      <div class="title-box">
        <label for="">Create a post</label>
      </div>
    </div>
    <div class="line"></div>
    <div id="selectCommunity">
      <p-dropdown [editable]="true" placeholder="Choose a community"></p-dropdown>
    </div>
    <div id="postBox">
      <div id="postinBox">
        <div id="areaText">
          <textarea class="text-area" placeholder="คุณกำลังคิดอะไรอยู่ อุจิว"></textarea>
        </div>
        <div id="buttonBox">
          <button class="post-button">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
