<div id="cratePost" *ngIf="isShow">
  <div id="postInBox">
    <div id="closeModal" (click)="onChange()">
      <div class="x-text" for="">X</div>
    </div>
    <div id="title">
      <div class="title-box">
        <label for="">Create a post</label>
      </div>
    </div>
    <div class="line"></div>
    <div id="selectCommunity">
      <p-dropdown [editable]="true" placeholder="Choose a community"></p-dropdown>
    </div>
    <div id="postBox">
      <div id="postinBox">
        <div id="areaText">
          <textarea class="text-area" placeholder="คุณกำลังคิดอะไรอยู่ อุจิว" [(ngModel)]='createPost.content'></textarea>
        </div>
        <div id="buttonBox" (click)="submitPost()">
          <button class="post-button" [disabled]="!createPost.content">Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
