<div id="cratePost" *ngIf="isShow">
  <div id="postInBox">
    <div id="closeModal">
      <div class="x-text" for="" (click)="onChange()">X</div>
    </div>
    <div id="title">
      <div class="title-box">
        <label for="">Create a post</label>
      </div>
    </div>
    <div class="line"></div>
    <div id="selectCommunity">
      <p-dropdown placeholder="Choose a community" [options]="option" (onChange)="getGroupId($event)"></p-dropdown>
    </div>
    <div id="postBox">
      <div id="postinBox">
        <div id="areaText">
          <div id="input-text">
          <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
              <mat-label>คุณกำลังคิดอะไรอยู่ อุจิว</mat-label>
              <!-- <textarea matInput placeholder="What are you comment ?" [(ngModel)]="comment"></textarea> -->
              <textarea style="height: 100px" matInput placeholder="คุณกำลังคิดอะไรอยู่ อุจิว" [(ngModel)]='createPost.content'></textarea>
          </mat-form-field>
          </div>
          <!-- <textarea class="text-area" placeholder="คุณกำลังคิดอะไรอยู่ อุจิว" [(ngModel)]='createPost.content'></textarea> -->
        </div>
        <div id="buttonBox">
          <div *ngIf="createPost.content && groupId; else disPost">
            <button class="post-button" (click)="submitPost()">Post</button>
          </div>
          <ng-template #disPost>
            <button class="post-button" disabled>Post</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
