#layout {
  position: relative;
  $navHeight: 50px;
  background-color: #F5F5F5;
  height: 100vh;
  overflow-y: overlay;
  #navBox {
    height: $navHeight;
  }
  #bodyBox {
    max-height: calc(100vh - (#{$navHeight}));
  }
}