#layout {
  $navHeight: 50px;
  background-color: #F5F5F5;
  height: 100vh;
  overflow-y: overlay;
  #navBox {
    height: $navHeight;
    top :0;
    z-index: 10;
  }
  #bodyBox {
    height: calc(100vh - (#{$navHeight}));
    overflow-y: auto;
  }
}