<div id="home">
  <div id="homeImage">
    <img class="image" src="../../../assets/img/home_picture.png" alt="home-picture" />
  </div>
  <div id="title">
    <div id="titleBox">
      <div id="titleText">
        <label class="text-title" for="">What is REDDOME ?</label>
      </div>
      <div id="content">
        <label for="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id quam eveniet architecto voluptate impedit repellendus iusto ratione voluptatum odio laboriosam?</label>
      </div>
    </div>
    <div id="account">
      <div id="buttonBox">
        <div id="signUp" (click)="onClickSignUp()">
          <button class="signup-box">SIGN UP FREE</button>
        </div>
        <div id="signIn">
          <button class="signin-box">SIGN IN</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isOpenSignIn">
  <app-signin (changeIsOpen)="closeModalandChangeIsOpenSignIn($event)"></app-signin>
</div>
<div *ngIf="isOpenSignUp">
  <app-signup (changeIsOpen)="closeModalandChangeIsOpenSignIn($event)"></app-signup>
</div>
