#home {
  $navHeight: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  //background-color: #99D4D3;
  background: linear-gradient(-45deg, #ffffff, #99D4D3, #8bb899, #a1ffe9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  #homeImage {
    height: calc(100vh - (#{$navHeight}));
    display: flex;
    align-items: flex-end;
    .image {
      width: 70%;
    }
  }
  #title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    #titleBox {
      #titleText {
        .text-title {
          font-size: 72px;
          line-height: normal;
          color: #1B4E8C;
        }
      }
      #content {
        margin-top: 10px;
        width: 80%;
        .text-content {
          font-size: 24px;
          line-height: normal;
          color: #fff;
        }
      }
    }
    #account { 
      width: 100%;
      padding: 20px 0 20px 0;
      #buttonBox {
        display: flex;
        #signUp {
          margin-right: 30px;
          .signup-box {
            background-color: #F9E65D;
            width: 200px;
            height: 60px;
            border: none;
            border-radius: 5px;
            color: #1B4E8C;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: #ffe100;
              transform: scale(1.05);
            }
          }
        }
        #signIn {
          .signin-box {
            background-color: #99D4D3;
            width: 200px;
            height: 60px;
            border: 1px solid #fff;
            border-radius: 5px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              background-color: #c2dad9;
              transform: scale(1.05);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1376px) {
  #home {
    #homeImage {
      width: 100%;
    }
    #title {
      $navHeight: 50px;
      height: calc(100vh - (#{$navHeight}));
      #titleBox {
        #titleText {
          .text-title {
            font-size: 55px;
            line-height: normal;
            color: #1B4E8C;
          }
        }
        #content {
          width: 80%;
          .text-content {
            font-size: 22px;
            line-height: normal;
            color: #fff;
          }
        }
      }
      #account {
        #buttonBox {
          #signUp {
            .signup-box {
              width: 180px;
              height: 50px;
            }
          }
          #signIn {
            .signin-box {
              width: 180px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #home {
    #homeImage {
      .image {
        width: 80%;
      }
    }
    #title {
      width: calc(100% - 50px);
      #titleBox {
        #titleText {
          .text-title {
            font-size: 45px;
            line-height: normal;
            color: #1B4E8C;
          }
        }
        #content {
          width: 80%;
          .text-content {
            font-size: 20px;
            line-height: normal;
            color: #fff;
          }
        }
      }
      #account {
        #buttonBox {
          #signUp {
            .signup-box {
              width: 150px;
              height: 40px;
              font-size: 16px;
            }
          }
          #signIn {
            .signin-box {
              width: 150px;
              height: 40px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #home {
    display: flex;
    justify-content: center;
    #homeImage {
      display: none;
    }
    #title {
      #titleBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        #titleText {
          .text-title {
            font-size: 45px;
            line-height: normal;
            color: #1B4E8C;
          }
        }
        #content {
          width: 70%;
          .text-content {
            font-size: 20px;
            line-height: normal;
            color: #fff;
          }
        }
      }
      #account {
        display: flex;
        justify-content: center;
        #buttonBox {
          #signUp {
            .signup-box {
              width: 150px;
              height: 40px;
              font-size: 16px;
            }
          }
          #signIn {
            .signin-box {
              width: 150px;
              height: 40px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #home {
    display: flex;
    justify-content: center;
    #homeImage {
      display: none;
    }
    #title {
      #titleBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        #titleText {
          .text-title {
            font-size: 32px;
            line-height: normal;
            color: #1B4E8C;
          }
        }
        #content {
          width: 70%;
          .text-content {
            font-size: 18px;
            line-height: normal;
            color: #fff;
          }
        }
      }
      #account {
        display: flex;
        justify-content: center;
        #buttonBox {
          flex-direction: column;
          #signUp {
            display: flex;
            margin: 0;
            .signup-box {
              margin: 0 30px 0 30px;
              width: 300px;
              height: 40px;
              font-size: 16px;
            }
          }
          #signIn {
            .signin-box {
              margin: 10px 30px 0 30px;
              width: 300px;
              height: 40px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}