<div class="loading" *ngIf='isLoading; else afterLoading'>
  <p-progressSpinner></p-progressSpinner>
</div>
<div *ngIf='showCreatePost'>
  <app-createpost (changeCreatePost)="closeModalandChangeIsOpenSignIn($event)" (postSuccess)="getPostFormModal($event)"></app-createpost>
</div>
<ng-template #afterLoading>
  <div class="miniLoading" *ngIf='miniLoading;'>
    <p-progressSpinner></p-progressSpinner>
  </div>
  <div id="feedContent">
    <div id="content">
      <div id="filterContent">
        <div id="txtFilter">
          Menus
        </div>   
        <div id="filterTab">
          <div *ngIf='feedToggle; else showGroupButton'>
          <div id="filterLeft">
            <div id="lastestButtonEna" ><i class="fas fa-fire-alt logoNew"></i>Newest</div>
              <div id="popularButtonDis" (click)='buttonToggle()' > <i class="fas fa-campground logoFire"></i>All Group</div>
            </div>
          </div>
          <ng-template #showGroupButton>
            <div id="filterLeft">
              <div id="lastestButtonDis" (click)='buttonToggle()'><i class="fas fa-fire-alt logoNew"></i>Newest</div>
              <div id="popularButtonEna" > <i class="fas fa-campground logoFire"></i>All Group</div>
            </div>
          </ng-template>
          <div id="filterRight">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="menuPlus">
              <i class="fas fa-ellipsis-h"></i>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="onCreatePost()">
                <mat-icon>create</mat-icon>
                <span>Create post</span>
              </button>
              <button mat-menu-item>
                <mat-icon>add_circle_outline</mat-icon>
                <span>Create Group</span>
              </button>
            </mat-menu>
          </div>
        </div>
      </div>
      <div>
        <div *ngIf='this.feedToggle; else groupShow'>
          <div *ngIf='this.allpost.length === 0; else emptyPost'>
            <div id="postEmpty">
              <img src="../../../assets/img/empthy.png" alt="" id="imgEmpty">
              <div id="emptyTxt">Reddit gets better when you join communities, so find some that you’ll love!
                Browse Popular Posts</div>
            </div>
          </div>
          <ng-template #emptyPost>
            <div id="post" *ngFor="let postdata of allpost">
              <app-postfeed [post]="postdata" (postChange)="deletePost($event)"></app-postfeed>
            </div>
          </ng-template>
        </div>
        <ng-template #groupShow>
          <div id="allGroupShow" *ngFor="let group of allGroups">
            <div class="groupCard">
              <div class="cardLeft">
                <div class="groupProfile">
                  <img src={{group.group_profile}} (click)="goToGroup(group.id)" class="imgGroup" alt="">
                </div>
                <div class="groupContent">
                  <div class="groupName" (click)="goToGroup(group.id)">{{group.name}}</div>
                  <div class="groupDescription">{{group.detail}}</div>
                </div>
              </div>
              <div class="cardRight">
                <div *ngIf="group.isMember; else canJoin">
                  <div class="joinButtonDis" (click)="leaveGroup(group)">
                    Leave
                  </div>
                </div>
                <ng-template #canJoin>
                  <div class="joinButtonEna" (click)="joinGroup(group)">
                    Join
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
  </div>
  <div id="ranking">
    <app-ranking></app-ranking>
  </div>
</div>
</ng-template>
