<div id="postfeed">
<div id="allContent">
    <div *ngIf="post.isLiked; else elseBlock">
        <div class="postLike">
            <div id="logoVoteEna" (click)="unlikePost()">
                <i class="fas fa-arrow-up"></i>
            </div>
            <div id="countVoteEna">
                {{post.likeCount}}
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <div class="postLike">
            <div id="logoVoteDis" (click)="likePost()">
                <i class="fas fa-arrow-up"></i>
            </div>
            <div id="countVoteDis">
                {{post.likeCount}}
            </div>
        </div>
    </ng-template>
    <div id="postfeedContent">
        <div id="header">
            <div id="headerLeft">
                <div id="profileGroup">
                    <img id="imgGroup" src={{post.group_id.group_profile}} (click)="goToGroup(post.group_id.id)" alt="">
                </div>
                <div id="nameGroup" (click)="goToGroup(post.group_id.id)">{{post.group_id.name}}</div>
                <div id="postby">
                    <div id="postbyTxt">• post by </div>
                    <div id="postbyUser">{{post.owner_id.username}}</div>
                </div>
            </div>
            <div id="headerRight">
                <div id="joinButton">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="editPost">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <mat-menu #menu="matMenu" xPosition="after">
                    <button mat-menu-item >
                        <mat-icon>create</mat-icon>
                        <span>Edit post</span>
                    </button>
                    <button mat-menu-item (click)="Deletepost()">
                        <mat-icon>delete_outline</mat-icon>
                        <span>Delete post</span>
                    </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div id="body">
            <div id="message">
                {{post.content}}
            </div>
        </div>
        <!-- <div id="footer">
            <div id="featurePost">
                <div id="commentButton">
                    <div id="commentLogo">
                        <i class="far fa-comment-alt"></i>
                    </div>
                    <div id="commentText">
                        Comment
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
    <div id="dummyOpen"></div>
</div>
