<div class="ranking">
    <div class="pic">
       <div class="name-ranking">
           Most Popular Group
       </div>
        <img id="photo"
            src={{allGroups[0].group_banner}}>
    </div>
    <div *ngFor="let group of allGroups; let i = index">
        <div class="userFlex1">
            <div class="item1">
                <div class="content1">
                    <h3>{{i+1}}. </h3>
                    <div class="userPicFlex">
                        <img id="picUser"
                            src= {{group.group_profile}}>
                    </div>
                    <div class="userName">
                        <p>{{group.name}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>