<div id="Bgmain">
    <div id="TopicBar">
        <div id="TopicText">X Close</div>
    </div>
    <div class="BgPost">
        <div class="Post">
            <div id="TopicPost">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</div>
            <img class="image" src="../../../assets/img/postimg.jpg" alt="" />
            <div class="btn-icon">icon ปุ่มต่างๆ</div>
            <div id="CommentLayout">
                <div id="Usercomment">FlukeNTK</div>
                <div class="comment-text">testtesttesttesttesttesttesttesttesttesttesttesttesttesttesttest</div>
            </div>
        </div>
    </div>
</div>