#bgMain {
  background-color: #99d4d36b;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  min-height: 100%;
  #loading {
    position: absolute;
    width: 100%;
    display: flex;
    background-color: #ffffffc4;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
    z-index: 9999999;
  }
  #bgBox {
    background-color: #99d4d36b;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    #topBar {
      max-width: 1200px;
      height: 40px;
      width: 100%;
      align-items: center;
      position: fixed;
      .arrow {
        color: #fff;
        font-size: 30px;
        padding: 20px 40px;
        &:hover {
          color: #6db784;
          cursor: pointer;
        }
      }
    }
    #bgPost {
      background-color: #fff;
      max-width: 800px;
      width: 100%;
      border-radius: 5px;
      margin: 90px 0 50px 0;
      #comment {
        background-color: #fff;
        margin: 20px 20px;
        display: flex;
        flex-direction: column;
        .input-comment {
        }
        #buttonComment {
          display: flex;
          justify-content: flex-end;
          .dis-button-comment {
            height: 30px;
            width: 90px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: not-allowed;
            background-color: rgba(128, 128, 128, 0.733);
            #buttonText {
              color: #fff;
              font-size: 13px;
            }
          }
          .ena-button-comment {
            height: 30px;
            width: 90px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #6db784;
            &:hover {
              cursor: pointer;
              background: #7acc96;
            }
            #buttonText {
              color: #fff;
              font-size: 13px;
            }
          }
        }
        #comment-user {
          display: flex;
          margin-top: 10px;
          margin-bottom: 10px;
          &:hover {
            background-color: rgba(201, 201, 201, 0.192);
            border-radius: 5px;
          }
          #content-comment {
            display: flex;
            width: 100%;
            #image {
              #imgGroup {
                width: 35px;
                height: 35px;
                border-radius: 50%;
              }
            }
            #postBy {
              display: flex;
              justify-content: space-between;
              width: 100%;
              #headerLeft {
                display: flex;
                flex-direction: column;
                #colum {
                  display: flex;
                  #userName {
                    margin-left: 10px;
                    font-weight: bold;
                  }
                  #postTime {
                    margin-left: 15px;
                    color: gray;
                    font-size: 13px;
                  }
                }
              }
              .change-commnet {
                .edit-comment {
                }
              }
            }
          }
          .content-text {
            margin-left: 10px;
            margin-top: 5px;
            width: 600px;
            word-wrap: break-word;
            #text {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
