<div id="bgMain">
    <div id="bgBox">
        <div id="topBar">
            <div id="button">X Close</div>
        </div>
        <div id="bgPost">asdasjfladfj
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>
            <div>asdsadasd</div>v
        </div>
    </div>
</div>