<div id="bgMain">
    <div id="loading" *ngIf = "loading">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <div id="bgBox">
        <div id="topBar">
            <i class="fas fa-arrow-circle-left arrow" (click)="arrowBack()"></i>
        </div>
        <div id="bgPost">
            <app-postfeed [post]="post" (postChange)="deletePost($event)"></app-postfeed>
            <div id="comment">
                <div id="inputComment">
                    <mat-form-field class="example-full-width" style="width: 100%;" appearance="fill">
                        <mat-label>Comment</mat-label>
                        <textarea matInput placeholder="What are you comment ?" [(ngModel)]="comment"></textarea>
                    </mat-form-field>
                </div>
                <div id="buttonComment" (click)="createComment()">
                    <div class= "{{comment ? 'ena-button-comment' : 'dis-button-comment' }}">
                        <div id="buttonText">Comment</div>
                    </div>
                </div>
                <div *ngFor="let comment of allComment">
                    <div id="comment-user">
                        <div id="content-comment">
                            <div id="image">
                                <img id="imgGroup"
                                    src={{comment.owner_id.profile_picture}}>
                            </div>
                            <div id="postBy">
                                <div id="headerLeft">
                                    <div id="colum">
                                        <div id="userName">{{comment.owner_id.username}}</div>
                                        <div id="postTime">3h</div>
                                    </div>
                                        <div class="content-text">
                                            <div id="text">{{comment.content}}</div>
                                        </div>
                                </div>
                                <div class="change-comment">
                                    <button mat-icon-button [matMenuTriggerFor]="menu" class="edit-comment">
                                        <i class="fa fa-ellipsis-h" style="font-size:12px;"></i>
                                    </button>
                                    <mat-menu #menu="matMenu" xPosition="after">
                                        <button mat-menu-item (click)="deleteComment(comment.id)">
                                            <span>Delete Comment</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>