<div id="modalSignUp" *ngIf="!isClose">
  <div id="modalBox">
    <div id="closeModal">
      <label class="x-text" for="" (click)="onCloseTab()">X</label>
    </div>
    <div id="signUpHeader">
      <label class="text-signin" for="">Sign Up</label>
    </div>
    <form [formGroup]="signupform">
      <div class="input-box">
        <i class="far fa-envelope input-icon" aria-hidden="true"></i>
        <input formControlName="email" class="input-text-box" type="text" placeholder="Email" [(ngModel)]="signup.email">
      </div>
      <small *ngIf="signupform.get('email').invalid && signupform.get('email').touched" class="invalid">Email is incorrect</small>
      <div class="input-box">
        <i class="fas fa-user input-icon" aria-hidden="true"></i>
        <input formControlName="username" class="input-text-box" type="text" placeholder="Username" [(ngModel)]="signup.username">
      </div>
      <small *ngIf="signupform.get('username').invalid && signupform.get('username').touched" class="invalid">Username is Required</small>
      <div class="input-box">
        <i class="fas fa-lock input-icon" aria-hidden="true"></i>
        <input formControlName="password" class="input-text-box" type="password" placeholder="Password" [(ngModel)]="signup.password">
      </div>
      <small *ngIf="signupform.get('password').invalid && signupform.get('password').touched" class="invalid">Password is Required (minimum length 8)</small>
      <div class="calendar-box">
        <div class="input-calendar">
          <p-calendar formControlName="birth_date" inputId="basic" [(ngModel)]="value" [showIcon]="true" placeholder="Date of Birth"></p-calendar>
        </div>
      </div>
      <div class="input-box">
        <input type="file" accept="image/*" id="actual-btn" (change)="uploadProfile($event)" hidden>
        <label class="choose-file" for="actual-btn">Choose File</label>
        <span id="file-chosen">Profile Picture : {{profile}}</span>
      </div>
    </form>
    <div id="buttonSignUp" (click)="createAccount()">
      <div class="button-click">Create your account</div>
    </div>
  </div>
</div>
